<% include ../partials/header.ejs %>
<h3><%= song.title %></h3>
<h3><%= song.duration %></h3>
<h3><%= song.date_of_release %></h3>
<h3><%= song.album_title %></h3>
<% include ../partials/footer.ejs %>
