<% include ../partials/header.ejs %><h2>New Manager</h2>

<form action="/managers" method="post">
  <label for="name">Name:</label>
  <input name="name">

  <label for="email">Email:</label>
  <input name="email">

  <label for="office_number">Office Number:</label>
  <input name="office_number">

  <label for="cell_phone_number">Cell Phone Number:</label>
  <input name="cell_phone_number">

  <input type="submit" value="Create">
</form>
<% include ../partials/footer.ejs %>